{% extends "news/index.html" %}
{% load static %}

{% block title %} NEWS {% endblock %}

{% block css  %}
    <link rel="stylesheet" href="{% static 'style/news.css'%}">
{% endblock %}

{% block carousel %}
<div class="row">
{% for new in news %}
    <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
        <a  style="text-decoration: none;" class="news" href="{{ new.get_absolute_url }}"><h1 class="text-center">{{ new.title }}</h1> </a>
        <img class="w-100" src="{{ new.image.url }}" alt="">
        <p>{{ new.body }}</p>

    </div>
    </div>
    </div>



{% endfor %}

{% endblock %}
</div>
